<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {% for fruit in fruits %}
        <h1>{{fruit.name}}</h1>
    {% endfor %}


    {% component 'table' title='Shopping List' as shopping_table%}
        {% call shopping_table.columns %}
            Name
        {% endcall %}
        {% call shopping_table.columns %}
            Price
        {% endcall %}
        {% call shopping_table.columns %}
            Quantity
        {% endcall %}

        {% for fruit in fruits %}
        <!-- Calling recursive slots may look like this? -->
            {% call shopping_table.rows as rows %}
                {% call rows.items %}
                    {{fruit.name}}
                {% endcall %}
                {% call rows.items %}
                    {{fruit.price}}
                {% endcall %}
                {% call rows.items %}
                    {{fruit.quantity}}
                {% endcall %}
            {% endcall %}
        {% endfor %}
    {% endcomponent %}
</body>
</html>